@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: Roboto;
}
.image-button-image {
    width: 2em;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation *{
    margin: 0;
}
.ticket-description {
    white-space: pre-wrap;
}
.tickets-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.ticket-info {
    font-weight: 600;
    width: 12em;
    height: 12em;
    color: white;
    padding: 4px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ticket-description {
    text-align: center;
}
.ticket-info-fullcost {
    background-color: #3E66FB;
}
.ticket-info-discount {
    background-color: #4DCD80;
}
.ticket-info-free {
    background-color: #F081D8;
}
.date-billets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.date-billet {
    text-align: center;
    width: 8em;
    border: 0px solid;
    border-radius: 4px;
    padding: 6px;
    margin: 0 24px;
    background-color: white;
    box-shadow: #d0cccc 0 0 8px;
    cursor: pointer;
}
.times-screen {

}
.date-selected {
    color: red;
    text-align: center;
}
.time-billets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.time-billet {
    width: 5em;
    border: 0px solid;
    border-radius: 4px;
    padding: 6px;
    margin: 0 24px;
    background-color: white;
    box-shadow: #d0cccc 0 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.time-billet span {
    padding: 4px;
}
.time-billet-available {
    color: white;
    background-color: lightgreen;
}
.time-billet-ordered {
    color: white;
    background-color: darkgreen;
}
.time-billet.disabled span {
    color: #aaa;
}
.time-billet.disabled .time-billet-available{
    background-color: #ccc;
}
.order-screen, .ordering-screen {
    max-width: 600px;
    margin: 0 auto;
}
.ticket-select {
    max-width: 600px;
    height: 4em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ticket-select-color {
    width: 1em;
    height: 100%;
}
.number-inc-dec{
}
.number-inc-dec span{
    margin: 0 1.5em;
    width: 2em;
}
.tickets-stats {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
}
.checkout-button {
    display: block;
    margin: 1em auto;
    width: 8em;
    height: 3em;
    background-color: darkcyan;
    color: white;
    border: 0px solid;
    border-radius: 4px;
}
.checkout-button:disabled {
    background-color: powderblue;
    /*color: #aaa;*/
}
.ordering-screen {

}
.form-element{
    display: flex;
}
.form-element label{
    width: 8em;
}
.form-element .required::before {
    content: '*';
    color: red;
    vertical-align: super;
}
.error {
    color: red;
}
